{% layout 'layout.liquid'%}
{% block content %}
<div class="container p-5">
    <h2 class="display-6">All Events</h2>
    <div class="row">
        {% if events.length > 0 %}
            {% for event in events %}
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">Title: {{ event.title }}</h5>
                <div class="card-body">
                    <p class="card-text">
                        <p>Description: {{ event.description }}</p>
                        <p>Project: {{ event.project.title }}</p>
                        <p>Category: {{ event.category.title }}</p>
                    </p>
                    <a href="/events/{{ event.id }}" class="btn btn-info">
                        View
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Create a new <a href="/event/new">event</a>.</p>
    {% endif %}
    </div>
</div>
{% endblock %}