{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-fluid projects">
    {% render '../logo.liquid' %}
    <article>
      <h2>
        {{ event.title | capitalize }}
      </h2>
      <p><b>Date:</b> {{ event.date | date: "%A, %B %d, %Y" }}</p>

      <p><b>Description:</b> {{ event.description }}</p>
      {% if event.project %}
        <p><b>Project:</b> {{ event.project.title }}</p>
      {% endif %}
      {% if event.category %}
        <p><b>Category:</b> {{ event.category.title }}</p>
      {% endif %}
      {% if event.owner == userId %}
        <div class="btn-group">

          <a href="/events/{{ event.id }}/edit" class="btn btn-primary my-4">Edit</a>
          <form action="/events/{{ event.id }}?_method=DELETE" method="POST">
            <input
              type="submit"
              value="Delete"
              class="btn btn-danger mx-2 my-4">
          </form>
        </div>
      {% endif %}
      <br>
      <br>
      <p>Return to
        <a href="/projects">all projects</a>.</p>
    </article>
  </div>
{% endblock %}