{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Activitys</h2>
    <div class="row">
        {% for activity in activitys %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ activity.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ activity.ready }}
                </h5>
                <p class="card-text">
                    Body: {{ activity.body }}
                </p>
                <p class="card-text">
                    Amount: {{ activity.amount }}
                </p>
                <a href="/activitys/{{ activity.id }}" class="btn btn-info">
                    View {{ activity.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}