{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-fluid projects">
    {% render '../logo.liquid' %}
    <form action="/projects/{{project.id}}?_method=PUT" method="POST">
      <fieldset>
        <legend>
          <b>Edit:</b>
          {{ project.title | capitalize }}
        </legend>
        <div class="py-2">
          <label class="form-label">Title:
          </label>
          <input
            type="text"
            name="title"
            placeholder="{{ project.title }}"
            value="{{ project.title }}"
            class="form-control">
        </div>
        <div class="py-2">
            <label class="form-label">Due Date:</label>
            <input
                required
                type="date"
                name="due"
                placeholder="{{ project.due }}"
                value="{{ project.due }}"
                class="form-control">
            
        </div>
        <div class="py-2">
          <label class="form-label">Description:</label>
          <input
            type="text"
            name="description"
            placeholder="{{ project.description }}"
            value="{{ project.description }}"
            class="form-control">
        </div>
      </fieldset>
      <input
        type="submit"
        value="Save"
        class="btn btn-success my-2">
    </form>
    <br><br>
    <p>Return to <a href="/projects">all projects</a>.</p>
  </div>
{% endblock %}